<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.opg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

 <mapper namespace="mappers.boardMapper" >
 	 <cache/>
 	 <sql id= "BASECOLUMNS">
 	 	board_num, user_id, board_name, board_subject
	    board_content, board_pass, board_date, ip_addr , read_count 
 	 </sql>
 	 
	<insert id="boardInsert" parameterType="bDto">
			insert into board (<include refid="BASECOLUMNS" />) 
			values(num_seq.nextval,#{userId},#{boardName},
			#{boardSubject},#{boardContent},#{boardPass},
			sysdate,#{boardAddr},0)	
	</insert>	
	
	
	
</mapper>


