<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.opg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	
	<mapper namespace="mappers.loginMapper">
	<cache/>
	  <sql id= "baseCol" >
 				user_id, user_pw, user_name, user_birth,
			    user_gender, user_email, user_addr, user_ph1, 
			    user_ph2, user_regist
 	 </sql>
     <resultMap type="mDto" id="baseMember">
     	<constructor>
     		 <idArg column="user_id" javaType="string"  />
     		 <arg column="user_pw" javaType="string"/>
     		 <arg column="user_name" javaType="string" />
     		 <arg column="user_birth" javaType="java.sql.Timestamp" />
     		 <arg column="user_gender" javaType="string" />
     		 <arg column="user_email" javaType="string" />
     		 <arg column="user_addr" javaType="string" />
     		 <arg column="user_ph1" javaType="string" />
     		 <arg column="user_ph2" javaType="string" />
     		 <arg column="user_regist" javaType="java.sql.Timestamp" />		 
     	</constructor>     
     </resultMap>
  
  
	
		<select id="selectUser" parameterType="mDto" resultMap="baseMember">  
		      select  <include refid="baseCol"/> 
		      from member 
		   <trim  prefix="where" prefixOverrides="AND |OR" >
		   		<if test="userPw != null">
		   		  user_pw = #{userPw}
		   		</if>
		   		<if test="userId != null">
		   	 and user_Id = #{userId} and join_ok is not null
		   		</if>	   
		   </trim>
     	</select>
	
	
	
	
	
	</mapper>