<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.opg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	
	<mapper namespace="Repository.Mapper.Question">
	<cache/>
	 
	 	<resultMap type="questions" id="serveyMap">
	 			<id column="question_title" jdbcType="VARCHAR" property="question" />
	 			<result column="option_name" jdbcType="VARCHAR" property="option"/>
		 	
	 	</resultMap>
	 
		<select id="selectAll"  resultMap="serveyMap" >
		select q.question_num , question_title , option_num , option_name
		from question q, options o
		where q.question_num = o.question_num(+)
					
		</select>
		
	
	
	</mapper>