<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.opg//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >
	
	<configuration>
		<typeAliases  >
			
			<typeAlias type="Model.DTO.BoardDTO" alias="bDto"/>
		
		     <typeAlias type="Model.DTO.MemberDTO" alias="mDto"/> 
      		 <typeAlias type="Model.DTO.StartEndPageDTO" alias="pDto"/> 
      		 <typeAlias type="Model.DTO.UserPasswordChangeDTO" alias="pwcDto"/>
		</typeAliases>
	</configuration>